---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const jobs = await getCollection("job")
---

<script>
  const observer = new IntersectionObserver((entries) =>
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-in-end");
        entry.target.classList.remove("animate-in-start");
      } else {
        entry.target.classList.add("animate-in-start");
        entry.target.classList.remove("animate-in-end");
      }
    })
  );

  document
    .querySelectorAll("[data-animate-in]")
    .forEach((element) => observer.observe(element));
</script>

<Layout title="Only Braums">
	<div class="h-full grid grid-rows-header-footer">
		<header data-animate-in class:list={[
			"animate-in-start duration-700 transition",
			"container px-4 py-4 flex flex-col gap-4",
		]}>
			<h1 class="font-header text-black-nearly text-4xl ">
				<a href="/" class="hover:animate-pulse">Only Braums</a>{" "}<span class="text-accent">Careers</span>
			</h1>
			<h2 class="text-black-nearly text-2xl">
				Looking to bring you passion into something that matters in this world? Look no further, help us bring the wonders of braum to everyone.
			</h2>
		</header>

		<main class="container max-w-3xl flex flex-col items-center text-black px-4 py-8">
			{jobs.map((job, i) => (
				<div
					data-animate-in
					class:list={[
						"animate-in-start duration-700 transition",
						"w-full flex gap-4 py-6",
						"flex-col md:flex-row",
					]}
				>
					<div class:list={[
						"flex-1 flex flex-col gap-4",
					]}>
						<h3 class:list={[
							"font-header text-black-nearly text-3xl",
						]}>{job.data.title}</h3>
						<p class:list={[
							"text-xl",
						]}>
							{job.data.description}
						</p>
					</div>
				</div>
			))}
		</main>

		<footer class="bg-black-nearly text-background">
			<div class="container px-4 py-8 flex flex-row">
				<h2 class="flex-1 font-header text-3xl"></h2>
				<div class="flex flex-col gap-1">
					<a class="text-accent-light text-2xl underline" href="/">Home</a>
					<a class="text-accent-light text-2xl underline" href="/careers">Careers</a>
				</div>
			</div>
		</footer>
	</div>
</Layout>
