---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const jobs = await getCollection("job")
---

<script>
  const observer = new IntersectionObserver((entries) =>
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-in-end");
        entry.target.classList.remove("animate-in-start");
      } else {
        entry.target.classList.add("animate-in-start");
        entry.target.classList.remove("animate-in-end");
      }
    })
  );

  document
    .querySelectorAll("[data-animate-in]")
    .forEach((element) => observer.observe(element));
</script>

<Layout title="Only Braums">
	<div class="h-full grid grid-rows-header-footer">
		<header data-animate-in class:list={[
			"animate-in-start duration-700 transition",
			"container px-4 py-4 flex flex-col gap-4",
		]}>
			<h1 class="font-header text-accent text-4xl">
				Only Braums <span class="text-accent">Careers</span>
			</h1>
			<h2 class="text-black-nearly text-2xl">
				Looking to bring you passion into something that matters in this world? Look no further, help us bring the wonders of braum to everyone.
			</h2>
		</header>

		<main class="container max-w-3xl flex flex-col items-center text-black px-4 py-8">
			{jobs.map((job, i) => (
				<div
					data-animate-in
					class:list={[
						"animate-in-start duration-700 transition",
						"w-full flex gap-4 py-6",
						i % 2 === 0 ? "flex-col md:flex-row" : "flex-col md:flex-row-reverse",
					]}
				>
					<div class:list={[
						"flex-1 flex flex-col gap-4",
						i % 2 === 0 ? "items-start" : "md:items-end",
					]}>
						<h3 class:list={[
							"font-header text-black-nearly text-3xl",
							i % 2 === 0 ? "text-start" : "md:text-end"
						]}>{job.data.title}</h3>
						<p class:list={[
							"text-xl",
							i % 2 === 0 ? "text-start" : "md:text-end"
						]}>
							{job.data.description}
						</p>
					</div>
				</div>
			))}
		</main>

		<footer class="bg-black-nearly text-accent-light">
			<h2 class="container px-4 py-8 font-header text-3xl text-center">That's all the Braums for now, check back frequently for more Braums.</h2>
		</footer>
	</div>
</Layout>
