---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// Find your next adventure... your next Braum <3
---

<script>
  const observer = new IntersectionObserver((entries) =>
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-in-end");
        entry.target.classList.remove("animate-in-start");
      } else {
        entry.target.classList.add("animate-in-start");
        entry.target.classList.remove("animate-in-end");
      }
    })
  );

  document
    .querySelectorAll("[data-animate-in]")
    .forEach((element) => observer.observe(element));
</script>

<Layout title="Only Braums">
	<div class="h-full grid grid-rows-header-footer">
		<header class="container py-4">
			<h1 class="font-header text-accent text-4xl">
				Only Braums {"<3"}
			</h1>

		</header>

		<main class="container">

		</main>

		<footer class="bg-black-nearly text-accent-light">
			<h2 class="container py-8 font-header text-2xl">That's all the Braums for now, check back frequently for more Braums.</h2>
		</footer>
	</div>
</Layout>
